In [1]:
print('rid')

rid

In [2]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in ./.local/lib/python3.10/site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in ./.local/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip is available: 24.0 -> 25.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
pd.read_csv('/home/rythm/Documents/test_data1.csv')

     Name  Age
0  Simran   23
1   jyoti   23
2   ridhi   24
3   tania   26

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

25/04/27 10:29:25 WARN Utils: Your hostname, rythm-VivoBook-ASUSLaptop-X421FL-S433FL resolves to a loopback address: 127.0.1.1; using 172.20.10.3 instead (on interface wlo1)
25/04/27 10:29:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/27 10:29:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [10]:
df_pyspark=spark.read.csv('/home/rythm/Documents/test_data1.csv')

In [11]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [12]:
spark.read.option('header','true').csv('/home/rythm/Documents/test_data1.csv')

DataFrame[Name: string, Age: string]

In [13]:
spark.read.option('header','true').csv('/home/rythm/Documents/test_data1.csv').show()

+------+---+
|  Name|Age|
+------+---+
|Simran| 23|
| jyoti| 23|
| ridhi| 24|
| tania| 26|
+------+---+

In [14]:
df_pyspark=spark.read.option('header','true').csv('/home/rythm/Documents/test_data1.csv')

In [15]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.head(4)

[Row(Name='Simran', Age='23'),
 Row(Name='jyoti', Age='23'),
 Row(Name='ridhi', Age='24'),
 Row(Name='tania', Age='26')]

In [18]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [19]:
df_pyspark=spark.read.option('header','true').csv('/home/rythm/Documents/test_data1.csv',inferSchema=True)

In [20]:
df_pyspark

DataFrame[Name: string, Age: int]

In [21]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
|Simran|
| jyoti|
| ridhi|
| tania|
+------+

In [23]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [24]:
df_pyspark.select(['Name','age']).show()

+------+---+
|  Name|age|
+------+---+
|Simran| 23|
| jyoti| 23|
| ridhi| 24|
| tania| 26|
+------+---+

In [25]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [26]:
df_pyspark.describe().show()

+-------+------+------------------+
|summary|  Name|               Age|
+-------+------+------------------+
|  count|     4|                 4|
|   mean|  NULL|              24.0|
| stddev|  NULL|1.4142135623730956|
|    min|Simran|                23|
|    max| tania|                26|
+-------+------+------------------+

In [30]:

# adding column in dataframe

df_pyspark.withColumn('Age after 2 years',df_pyspark['Age']+2).show()

+------+---+-----------------+
|  Name|Age|Age after 2 years|
+------+---+-----------------+
|Simran| 23|               25|
| jyoti| 23|               25|
| ridhi| 24|               26|
| tania| 26|               28|
+------+---+-----------------+

In [31]:
df_pyspark=df_pyspark.withColumn('Age after 2 years',df_pyspark['Age']+2)

In [33]:
df_pyspark.show()

+------+---+-----------------+
|  Name|Age|Age after 2 years|
+------+---+-----------------+
|Simran| 23|               25|
| jyoti| 23|               25|
| ridhi| 24|               26|
| tania| 26|               28|
+------+---+-----------------+

In [34]:
#Rename the column
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+-----------------+
|New Name|Age|Age after 2 years|
+--------+---+-----------------+
|  Simran| 23|               25|
|   jyoti| 23|               25|
|   ridhi| 24|               26|
|   tania| 26|               28|
+--------+---+-----------------+

In [35]:
df_pyspark.withColumn('Salary',df_pyspark['Age']*10000).show()

+------+---+-----------------+------+
|  Name|Age|Age after 2 years|Salary|
+------+---+-----------------+------+
|Simran| 23|               25|230000|
| jyoti| 23|               25|230000|
| ridhi| 24|               26|240000|
| tania| 26|               28|260000|
+------+---+-----------------+------+

In [36]:
df_pyspark=df_pyspark.withColumn('Salary',df_pyspark['Age']*10000)

In [37]:
df_pyspark.show()

+------+---+-----------------+------+
|  Name|Age|Age after 2 years|Salary|
+------+---+-----------------+------+
|Simran| 23|               25|230000|
| jyoti| 23|               25|230000|
| ridhi| 24|               26|240000|
| tania| 26|               28|260000|
+------+---+-----------------+------+

In [38]:
#drop the column
df_pyspark.drop('Name').show()

+---+-----------------+------+
|Age|Age after 2 years|Salary|
+---+-----------------+------+
| 23|               25|230000|
| 23|               25|230000|
| 24|               26|240000|
| 26|               28|260000|
+---+-----------------+------+

In [40]:
# removing the null values
df_pyspark.na.drop().show()

+------+---+-----------------+------+
|  Name|Age|Age after 2 years|Salary|
+------+---+-----------------+------+
|Simran| 23|               25|230000|
| jyoti| 23|               25|230000|
| ridhi| 24|               26|240000|
| tania| 26|               28|260000|
+------+---+-----------------+------+

In [41]:
df_pyspark.na.drop(how='any',thresh=2).show() # stleast having 2 non null values in row

+------+---+-----------------+------+
|  Name|Age|Age after 2 years|Salary|
+------+---+-----------------+------+
|Simran| 23|               25|230000|
| jyoti| 23|               25|230000|
| ridhi| 24|               26|240000|
| tania| 26|               28|260000|
+------+---+-----------------+------+

In [43]:
#fill the values in the columns
df_pyspark.na.fill('Missing Values',['Name','age']).show()

+------+---+-----------------+------+
|  Name|Age|Age after 2 years|Salary|
+------+---+-----------------+------+
|Simran| 23|               25|230000|
| jyoti| 23|               25|230000|
| ridhi| 24|               26|240000|
| tania| 26|               28|260000|
+------+---+-----------------+------+

In [44]:
from pyspark.ml.feature import Imputer

In [45]:
imputer=Imputer(
    inputCols=['Age','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Salary']]
).setStrategy("mean")

In [46]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+---+-----------------+------+-----------+--------------+
|  Name|Age|Age after 2 years|Salary|Age_imputed|Salary_imputed|
+------+---+-----------------+------+-----------+--------------+
|Simran| 23|               25|230000|         23|        230000|
| jyoti| 23|               25|230000|         23|        230000|
| ridhi| 24|               26|240000|         24|        240000|
| tania| 26|               28|260000|         26|        260000|
+------+---+-----------------+------+-----------+--------------+

In [51]:
#filter operations
df_pyspark.filter('Salary>=25000').show()

+------+---+-----------------+------+
|  Name|Age|Age after 2 years|Salary|
+------+---+-----------------+------+
|Simran| 23|               25|230000|
| jyoti| 23|               25|230000|
| ridhi| 24|               26|240000|
| tania| 26|               28|260000|
+------+---+-----------------+------+

In [53]:
df_pyspark.filter("Salary>=25000").select(['Name','age']).show()

+------+---+
|  Name|age|
+------+---+
|Simran| 23|
| jyoti| 23|
| ridhi| 24|
| tania| 26|
+------+---+

In [56]:
df_pyspark.filter(~(df_pyspark['Salary']<=26000) & (df_pyspark['Salary']>=150000)).show()

+------+---+-----------------+------+
|  Name|Age|Age after 2 years|Salary|
+------+---+-----------------+------+
|Simran| 23|               25|230000|
| jyoti| 23|               25|230000|
| ridhi| 24|               26|240000|
| tania| 26|               28|260000|
+------+---+-----------------+------+

In [57]:
df_pyspark.groupBy('Age').sum().show()

+---+--------+----------------------+-----------+
|Age|sum(Age)|sum(Age after 2 years)|sum(Salary)|
+---+--------+----------------------+-----------+
| 26|      26|                    28|     260000|
| 23|      46|                    50|     460000|
| 24|      24|                    26|     240000|
+---+--------+----------------------+-----------+

In [58]:
df_pyspark.groupBy('Age').mean().show()

+---+--------+----------------------+-----------+
|Age|avg(Age)|avg(Age after 2 years)|avg(Salary)|
+---+--------+----------------------+-----------+
| 26|    26.0|                  28.0|   260000.0|
| 23|    23.0|                  25.0|   230000.0|
| 24|    24.0|                  26.0|   240000.0|
+---+--------+----------------------+-----------+

In [59]:
df_pyspark.groupby('Age').count().show()

+---+-----+
|Age|count|
+---+-----+
| 26|    1|
| 23|    2|
| 24|    1|
+---+-----+

In [60]:
df_pyspark.show()

+------+---+-----------------+------+
|  Name|Age|Age after 2 years|Salary|
+------+---+-----------------+------+
|Simran| 23|               25|230000|
| jyoti| 23|               25|230000|
| ridhi| 24|               26|240000|
| tania| 26|               28|260000|
+------+---+-----------------+------+

In [62]:
from pyspark.sql import functions as F

In [63]:
df_pyspark = df_pyspark.withColumn(
    'Experience',
    F.when(df_pyspark['Age'] < 24, 1).otherwise(2)
)

In [64]:
df_pyspark.show()

+------+---+-----------------+------+----------+
|  Name|Age|Age after 2 years|Salary|Experience|
+------+---+-----------------+------+----------+
|Simran| 23|               25|230000|         1|
| jyoti| 23|               25|230000|         1|
| ridhi| 24|               26|240000|         2|
| tania| 26|               28|260000|         2|
+------+---+-----------------+------+----------+

In [65]:
training=df_pyspark

In [66]:
training.show()

+------+---+-----------------+------+----------+
|  Name|Age|Age after 2 years|Salary|Experience|
+------+---+-----------------+------+----------+
|Simran| 23|               25|230000|         1|
| jyoti| 23|               25|230000|         1|
| ridhi| 24|               26|240000|         2|
| tania| 26|               28|260000|         2|
+------+---+-----------------+------+----------+

In [67]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Age after 2 years: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Experience: integer (nullable = false)

In [69]:
training.columns

['Name', 'Age', 'Age after 2 years', 'Salary', 'Experience']

In [71]:
# ['Age','Experience']---> new feature----> independent featiure

In [73]:
from pyspark.ml.feature import VectorAssembler

In [75]:
featureassembler=VectorAssembler(inputCols=['Age','Experience'],outputCol='Independent Feature')

In [76]:
output=featureassembler.transform(training)

In [77]:
output.show()

+------+---+-----------------+------+----------+-------------------+
|  Name|Age|Age after 2 years|Salary|Experience|Independent Feature|
+------+---+-----------------+------+----------+-------------------+
|Simran| 23|               25|230000|         1|         [23.0,1.0]|
| jyoti| 23|               25|230000|         1|         [23.0,1.0]|
| ridhi| 24|               26|240000|         2|         [24.0,2.0]|
| tania| 26|               28|260000|         2|         [26.0,2.0]|
+------+---+-----------------+------+----------+-------------------+

In [79]:
output.columns

['Name',
 'Age',
 'Age after 2 years',
 'Salary',
 'Experience',
 'Independent Feature']

In [81]:
#only need two features rn
finalized_data=output.select('Independent Feature','Salary')

In [82]:
finalized_data.show()

+-------------------+------+
|Independent Feature|Salary|
+-------------------+------+
|         [23.0,1.0]|230000|
|         [23.0,1.0]|230000|
|         [24.0,2.0]|240000|
|         [26.0,2.0]|260000|
+-------------------+------+

In [85]:
from pyspark.ml.regression import LinearRegression

train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Feature', labelCol='Salary')
regressor=regressor.fit(train_data)

25/04/27 16:45:10 WARN Instrumentation: [fae7b8c6] regParam is zero, which might cause numerical instability and overfitting.

In [86]:
regressor.coefficients

DenseVector([10000.0, 0.0])

In [87]:
regressor.intercept

2.5272199645993122e-08

In [89]:
pred_results=regressor.evaluate(test_data)

In [90]:
pred_results.predictions.show()

+-------------------+------+------------------+
|Independent Feature|Salary|        prediction|
+-------------------+------+------------------+
|         [23.0,1.0]|230000|230000.00000000047|
+-------------------+------+------------------+